body {
  background: #2F2F2F;
  margin: 0;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.title {
  font-family: 'sf_ui_displayregular';
  letter-spacing: 0.5px; 
  font-size: 25px;
}

.sub-title {
  font-size: 23px; 
  letter-spacing: 0.5px;
}
#draw {
  display: none;
}

/*=======================================*/
                  /*Home*/
/*=======================================*/

#home {
  position: fixed; 
  color: white;
  height: 100%;
  width: 100%;
  display: inline-block; 
}

#home .container {
  position: relative;
  padding-top: 25px;
  height: 100%;
}

#stat-image {
  width: 100%;
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
}

.bottom-bar {
  width: 100%; 
  position: fixed;
  bottom: 0;
  left: 0;
  padding-bottom: 15px;
  text-align: right;
}

#bottom-text {
  text-align: left;
}
#today {
  display: inline-block;
  margin-bottom: 0; 
  line-height: 0;
  text-align: left;
}

#draw-button {
  text-align: right;
  float: right;
  text-decoration: none;
  color: white; 
}


/*=======================================*/
                  /*Draw*/
/*=======================================*/

.side-bar {
  position: fixed; 
  top: 50%; 
  height: 100%; 
  right: 75px;
  transform: translateY(-50%); 
  transition: 0.2s all cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hide-bar {
  right: -100px; 
}

.draw-tools {
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%);
}

.shape {
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 110px;
  border: 2px solid white;
  margin-bottom: 20px;
  text-align: center;
  line-height: 55px;
}

.shape svg {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

.undo {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 20px;
  border-radius: 110px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 55px;
}

.undo svg {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

.finish {
  position: absolute;
  width: 55px;
  height: 55px;
  bottom: 5px;
  border-radius: 110px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 55px;
}

.exit {
  position: fixed;
  width: 55px;
  height: 55px;
  top: 20px;
  border-radius: 110px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 55px;
  transition: 0.2s all cubic-bezier(0.645, 0.045, 0.355, 1);
  left: 20px;
}

.exit svg {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

.hide-exit {
  left: -100px; 
}

.active-tool {
  background: white; 
}

.active-tool path, .active-tool ellipse {
  stroke: #333;
}

#draw-area {
  background: #2F2F2F; 
  position: fixed; 
  left: 0; 
  top: 0; 
}

#sleep, #distance, #flights, #steps {
  display: none; 
  opacity: 0; 
}









































